.content p, .footer p {
  font-weight: 500;
}

.content h1, .content h2, .content h3, .btn, .shape__wrapper .ring__number, .footer h2 {
  font-weight: 900;
}

/*   --- root css --- */
:root {
  --font-size: 100%;
  --H1: 2.5rem;
  --H2: 2rem;
  --H3: 1rem;
  --par: 1rem;
  --btn: 1rem;
  --footer__par: 1.125rem;
}

/*   --- normalize css --- */
html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

/*  --- reset css --- */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
body,
form,
aside,
input,
section,
article {
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  list-style-type: none;
}

input {
  outline: none;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  background-color: #808080;
}

/* --- typography --- */
@font-face {
  font-family: "Red hat display";
  src: url(../assets/webfonts/Font-face/RedHatDisplay-Medium.woff2) format("woff2"), url(../assets/webfonts/Font-face/RedHatDisplay-Medium.ttf) format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Red hat display";
  src: url(../assets/webfonts/Font-face/RedHatDisplay-Black.woff2) format("woff2"), url(../assets/webfonts/Font-face/RedHatDisplay-Black.ttf) format("truetype");
  font-weight: 900;
}
/*   --- general settings --- */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: var(--font-size);
  scroll-behavior: smooth;
}
html ::-moz-selection {
  background-color: #fafafa;
  color: white;
}
html ::selection {
  background-color: #fafafa;
  color: white;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  background-color: #808080;
}

/*  --- header --- */
/* --- home main --- */
.home {
  font-optical-sizing: auto;
  background-color: #fafafa;
  font-family: "Red hat display", sans-serif;
}

.logo__img,
.hero__img {
  background-color: transparent;
}

.container {
  max-width: 23.4375em;
  min-width: 12.5em;
  margin-inline: auto;
  margin-top: 3.125em;
  overflow: hidden;
}

.logo {
  text-align: center;
  margin-inline: auto;
  margin-bottom: 3.375em;
}

.hero {
  text-align: center;
}
.hero__img {
  max-width: 112%;
  margin-left: -5%;
}

.content {
  padding-inline: 1.5em;
  margin-top: 3em;
  text-align: center;
}
.content__top {
  margin-bottom: 2em;
}
.content h1 {
  font-size: var(--H1);
  line-height: 1.1em;
  color: #28283d;
}
.content h2 {
  font-size: var(--H2);
  line-height: 1.125em;
  color: #28283d;
}
.content h3 {
  font-size: var(--H3);
  line-height: 1.625em;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #4d96a9;
  margin-bottom: 1.5em;
}
.content p {
  font-size: var(--par);
  line-height: 1.625em;
  color: #87879d;
  margin-top: 1.5em;
}

.btn {
  display: inline-block;
  text-align: center;
  font-size: var(--btn);
  line-height: 1.625em;
  color: #ffffff;
  border-radius: 1.8125em;
  -webkit-transition: background-color ease-in-out 0.2s;
  transition: background-color ease-in-out 0.2s;
}
.btn span {
  color: #8fe3f9;
}

.btn--download {
  padding: 1em 2.5em;
  background-color: #4d96a9;
  margin-bottom: 1em;
}
.btn--download:hover, .btn--download:focus {
  background-color: #71c0d4;
}

.btn--info {
  padding: 1em 1.875em;
  background-color: #855fb1;
}
.btn--info:hover, .btn--info:focus {
  background-color: #b18bdd;
}

.shape__wrapper {
  margin-block: 4em;
}
.shape__wrapper .shape {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.shape__wrapper .shape__right {
  width: 1px;
  height: 5.25em;
  background-color: rgba(135, 135, 157, 0.2470588235);
}
.shape__wrapper .ring {
  width: 3.5em;
  aspect-ratio: 1/1;
  margin-inline: auto;
  border-radius: 50%;
  border: 1px solid rgba(135, 135, 157, 0.2470588235);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fafafa;
}
.shape__wrapper .ring__number {
  font-size: var(--par);
  line-height: 1em;
  color: #87879d;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 7.645%;
  row-gap: 1.5625em;
  margin-bottom: 4em;
}
.gallery > * {
  max-width: 46.17737%;
  border-radius: 0.5em;
  overflow: hidden;
}

.shape__wrapper.two {
  margin-block: 2.4375em 0;
  position: relative;
  top: 1.5625em;
  z-index: 100;
}

.footer {
  text-align: center;
  background-color: #4d97a9;
  padding-block: 5.75em 4.5em;
  position: relative;
  z-index: 10;
}
.footer__container {
  padding-inline: 1.5em;
}
.footer h2 {
  font-size: var(--H2);
  line-height: 1.125em;
  color: #fafafa;
}
.footer p {
  font-size: var(--footer__par);
  line-height: 1.4444444444em;
  color: #fafafa;
  margin-block: 1.3333333333em 1.7777777778em;
}
.footer .btn span {
  color: #d9b8ff;
}
.footer__img {
  position: absolute;
  inset: 0;
  z-index: -1;
}
.footer__img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0.2;
}

/* mediaqueries */
@media only screen and (max-width: 250px) {
  :root {
    --font-size: 90%;
  }
  .container {
    margin-top: 1.3888888889em;
  }
  .logo {
    max-width: 33.3%;
    margin-bottom: 1.3888888889em;
  }
  .content {
    margin-top: 1.6666666667em;
  }
  .shape__wrapper {
    margin-block: 1.1111111111em;
  }
  .gallery {
    margin-bottom: 1.1111111111em;
  }
}
@media only screen and (min-width: 700px) {
  :root {
    --H1: 3rem;
    --H2: 2.5rem;
    --H3: 1rem;
    --par: 1rem;
    --btn: 1rem;
    --footer__par: 1.125rem;
  }
  .container {
    max-width: 48em;
  }
  .content__top {
    max-width: 28.5625em;
    margin-inline: auto;
  }
  .btn--download {
    margin-right: 1em;
    margin-bottom: 0;
  }
  .shape__wrapper {
    margin-block: 5em 4.1875em;
  }
  .gallery {
    row-gap: 0;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    gap: 0.6875em;
    margin-bottom: 3em;
  }
  .gallery > * {
    max-width: none;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .content .content__down {
    max-width: 35.8125em;
    margin-inline: auto;
  }
  .footer__container {
    padding-inline: 6.0625em;
  }
  .footer p {
    margin-block: 1.7777777778em 2.2222222222em;
  }
}
@media only screen and (min-width: 1024px) {
  :root {
    --H1: 4rem;
    --H2: 2.5rem;
    --H3: 1rem;
    --par: 1.125rem;
    --btn: 1rem;
    --footer__par: 1.125rem;
  }
  .container {
    max-width: 90em;
  }
  .hero {
    display: block;
    margin: 0 auto;
  }
  .hero__img {
    margin: 0;
  }
  .content__top {
    max-width: 33.75em;
  }
  .content p {
    margin-block: 1.8888888889em 1.7777777778em;
  }
  .shape__wrapper {
    margin-block: 7.1875em 4em;
  }
  .gallery {
    gap: 1.875em;
    margin-bottom: 5em;
    max-width: 69.375em;
    margin-inline: auto;
  }
  .content .content__down {
    max-width: 33.75em;
  }
  .content .content__down h3 {
    margin-bottom: 1em;
  }
  .content .content__down h2 {
    max-width: 15ch;
    margin-inline: auto;
  }
  .footer__container {
    max-width: 69.375em;
    margin-inline: auto;
    padding-inline: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left;
  }
  .footer__container h2 {
    -ms-flex-preferred-size: 33.3%;
        flex-basis: 33.3%;
  }
  .footer__container p {
    -ms-flex-preferred-size: 33.3%;
        flex-basis: 33.3%;
  }
  .footer__container div {
    -ms-flex-item-align: center;
        align-self: center;
  }
  .footer p {
    margin: 0;
  }
}
@media only screen and (min-width: 1330px) {
  .container {
    margin-top: 5em;
  }
  .hero {
    position: relative;
  }
  .hero::after, .hero::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    width: 24.625em;
    height: 18.9375em;
    top: 0;
  }
  .hero::before {
    background-image: url(../assets/img/image-hero-left.webp);
    left: -1.5625em;
  }
  .hero::after {
    background-image: url(../assets/img/image-hero-right.webp);
    right: -1.5625em;
  }
  .hero img {
    display: none;
  }
  .content {
    margin-top: 6.25em;
  }
  .content h1 {
    line-height: 1em;
  }
  .content p {
    line-height: 1.4444444444em;
  }
  .footer {
    padding-block: 7.25em 6.5em;
  }
}
/*# sourceMappingURL=home.css.map */
